* {
    font-family: var(--font-normal);
    color: var(--text);
}

body {
    background-color: var(--background-color);
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1, h2, h3 {
    font-family: var(--font-big);
    margin: 0;
}